:root {
  --text: #8d0660;
  --background: #fcf0fa;
  --primary: #732640;
  --secondary: #f7ebd4;
  --accent: #217a9a;
  --darker-accent: #124254;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/assets/font/SourceCodePro/SourceCodePro-VariableFont_wght.ttf");
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/assets/font/SourceCodePro/SourceCodePro-Italic-VariableFont_wght.ttf");
  font-weight: 200 900;
  font-style: italic;
}

html {
  background: var(--background);
  color: var(--text);
  font-family: SourceCodePro;
  font-size: 16px;
  padding: 16px;
}

a,
a:visited,
a:active,
a:hover {
  color: var(--primary);
  text-decoration: none;
  font-weight: 700;
}

img#mainpic {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: var(--accent);
  font-size: 48px;
  text-align: center;
}

h2 {
  color: var(--primary);
  font-size: 32px;
  font-style: italic;
}

.content {
  border-radius: 25px;
  margin: auto;
  min-width: 100px;
  text-align: left;
  padding: 20px;
}

div#picker {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

div.footer {
  background-color: var(--primary);
  color: var(--secondary);
}

menu#links-menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 16px 0;
  column-gap: 80px;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.54);
}

li.navbar {
  display: inline;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  font-stretch: ultra-expanded;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.4, 1.15);
}

li.navbar:hover {
  display: inline-block;
  letter-spacing: .5em;
  /* -webkit-transform: scale(1.5, 1); Safari and Chrome */
  /* -moz-transform: scale(1.5, 1); Firefox */
  /* -ms-transform: scale(1.5, 1); IE 9 */
  /* -o-transform: scale(1.5, 1); Opera */
  /* transform: scale(1.5, 1); W3C */
}

#navImage {
  height: 48px;
  width: 48px;
  padding: 32px;
  /* transition: all .3s cubic-bezier(0.4, 0, 1, 1); */
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.54);
  float: left;
}

#navImage:hover {
  height: 80px;
  width: 80px;
  padding: 16px;
}

.btn {
  padding: 10px 20px;
  color: black;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darker-accent);
}
