:root[data-theme="light"] {
    --text: #d9005a;
    --background: #fceefa;
    --primary: #a6364b;
    --secondary: #fff2e6;
    --accent: #00a8cc;
    --darker-accent: #0d3950;
}

:root[data-theme="dark"] {
    --text: #f971cc;
    --background: #11030f;
    --primary: #cf7c92;
    --secondary: #513b13;
    --accent: #78c3e7;
    --darker-accent: #205368;
}

@font-face {
    font-family: "SourceCodePro";
    src: url("assets/font/SourceCodePro/SourceCodePro-VariableFont_weight.ttf") format('truetype');
    font-weight: 200 900;
    font-style: normal;
}

@font-face {
    font-family: "SourceCodePro";
    src: url("assets/font/SourceCodePro/SourceCodePro-Italic-VariableFont_weight.ttf") format('truetype');
    font-weight: 200 900;
    font-style: italic;
}

html {
    background: var(--background);
    color: var(--text);
    font-family: SourceCodePro, monospace;
    font-size: 16px;
}

body {
    background-color: rgba(252, 238, 250, 0.9); /* Adjust the opacity as needed */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
    user-select: none;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.2, 0, 0, 1);
}

a,
a:visited,
a:active,
a:hover {
    color: var(--primary);
    text-decoration: none;
    font-weight: 700;
}

img#mainpic {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_button {
    padding: 10px;
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    right: 0;
    left: auto;
}

.dropdown-content button {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--text);
}

.dropdown-content button:hover {
    background-color: var(--accent);
    color: var(--background);
}

.langButton {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.langButton:hover {
    background-color: var(--accent);
    color: var(--background);
}

.dropdown:hover .dropdown-content {
    display: block;
}


h1 {
    color: var(--accent);
    font-size: 48px;
    text-align: center;
}

h2 {
    color: var(--primary);
    font-size: 32px;
    font-style: italic;
}

div.header {
    background-color: var(--secondary);
    position: fixed;
    top: 0;
    left: 25px;
    right: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.footer {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 16px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px -5px 10px #00000033;
    margin-top: auto; /* Push the footer to the bottom of the container */
    display: flex;
    justify-content: space-between;
}

/* Show different cursor so people know it's clickable */
div.score {
    cursor: pointer;
    margin: 0;
    padding: 0 0 8px;
}

menu#links-menu {
    list-style-type: none;
    display: flex;
    flex-grow: 1; /* Allow the navbar to take up the remaining space */
    padding-left: 100px;
    margin: 12px;
    column-gap: 80px;
    justify-content: center; /* Center the navbar text */
}

.menu-container {
    display: flex;
    align-items: center;
}

.navbar {
    display: inline;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    font-stretch: ultra-expanded;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.4, 1.15);
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.2em;
    transition: color 0.3s ease;
}

li.navbar:hover {
    display: inline-block;
    letter-spacing: 0.5em;
}

#navImage {
    height: 48px;
    width: 48px;
    padding: 16px;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.54);
}

#navImage:hover {
    transform: scale(1.1);
}

button.dropdown_button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 48px;
    width: 48px;
    margin-right: 25px; /* Adjust the spacing as needed */
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.54);
}

button.theme {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 48px;
    width: 48px;
    margin-right: 25px; /* Adjust the spacing as needed */
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.54);
}


button.theme:hover {
    transform: scale(1.1);
}

/* when user is holding down left click, scale it 0.8 */
button.theme:active {
    transform: scale(0.8);
}

#themeIcon {
    height: 100%;
    width: 100%;
}

#langIcon {
    height: 100%;
    width: 100%;
}

article.content {
    margin: auto;
    min-width: 100px;
    max-width: 1280px;
    text-align: left;
    padding: 65px 32px;
}

/* Styles for buttons */
.btn {
    padding: 10px 20px;
    color: var(--text);
    background: rgba(255, 255, 255, 0.2); /* Translucent white background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 10px;
    backdrop-filter: blur(5px); /* Apply a blur effect to the background */
}

/* Light theme button style */
[data-theme="light"] .btn {
    color: var(--accent); /* Change text color to match the accent color */
    background: rgba(255, 255, 255, 0.2); /* Translucent white background */
}

/* Dark theme button style */
[data-theme="dark"] .btn {
    color: var(--accent); /* Change text color to match the background color */
    background: rgba(0, 0, 0, 0.2); /* Translucent black background */
}

/* Hover effect for buttons */
.btn:hover {
    filter: brightness(0.9); /* Slight dimming on hover for all themes */
}

/* Hover effect for light theme */
[data-theme="light"] .btn:hover {
    background: rgba(255, 255, 255, 0.3); /* Slightly increase opacity on hover */
}

/* Hover effect for dark theme */
[data-theme="dark"] .btn:hover {
    background: rgba(0, 0, 0, 0.8); /* Massively increase opacity on hover */
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--darker-accent);
}

